POSTGRES_USER=togglemaster
POSTGRES_PASSWORD=togglemaster
MASTER_KEY=admin-secreto-123
SERVICE_API_KEY=tm_key_substitua_aqui
AWS_REGION=us-east-1
AWS_SQS_URL=https://sqs.us-east-1.amazonaws.com/000000000000/togglemaster-queue
AWS_DYNAMODB_TABLE=ToggleMasterAnalytics
AWS_DYNAMODB_ENDPOINT=http://dynamodb-local:8000
DISABLE_AWS=true
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
